* {
    background-color: moccasin;
}

#sports-climbing-stock-img.jpg {
    border-color: aqua;
}
#free-solo-stock-img.avf {
    border-color: red;
}
#bouldering-stock-img.webp {
    border-color: yellow;
}

img {
    width : 400px;
    border-style: dotted;
    margin-top: 10px;
    margin-bottom: 10px;
}